{
    "plugins": [
        "external-helpers",
        "transform-async-to-generator",
        "transform-runtime"
    ],
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ]
}