# This workflow performs a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, dev]

jobs:
  build-and-test:
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [20.x, 22.x, 24.x]

    runs-on: ${{ matrix.os }}

    name: 'Build and test (OS: ${{ matrix.os }}, Node: ${{ matrix.node-version }})'
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci

      - run: npm run output-coverage-lcov

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: 'coverage/tests.lcov'

  code-check:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    strategy:
      matrix:
        script: ['format', 'lint']

    name: Code check (${{ matrix.script }})
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - run: npm ci --ignore-scripts

      - run: npm run ${{matrix.script}}
